

.page-cv{
   font-size: 1.5rem;
   font-family: arial;
   font-weight: lighter;
   text-align: center;
}

.bloc{
    margin: 15px;
    margin-bottom: 50px;
}

.page-cv__title{
    font-size: 2rem;
    color: rgba(19, 59, 107, 0.8);
}

.page-cv p{
    font-size: 1.5rem;
    color: rgba(19, 59, 107, 0.8);
}

.page-cv__icons ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 3rem; 
    color: rgba(19, 59, 107, 0.8);
}

/*header*/
#name-title{
    text-align: left;
    font-size: 2.5rem;
    margin:50px;
}
.first-column__header{
    background-color: rgba(200, 222, 248, 0.8);
}

.picture-box_picture {
    margin-top:30px; 
    margin-bottom:30px;
    border-radius: 50%;
    width: 33%;
}


/*first column*/
.first-column {
    background-color: rgba(200, 222, 248, 0.8); 
}

.first-column__title {
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(36, 100, 177, 0.6);
    color: rgba(19, 59, 107, 0.8);
    font-size: 2rem;
    text-align: center;
}

.first-column_text-contact {
    margin: 20px;
    text-align: left;
}

.hobbie{
    align-self: flex-end;
}




/*2nd column*/


.second-column__title {
    margin: 50px;
    color: rgba(19, 59, 107, 0.8);
    font-size: 2rem;
    text-align: left;
    border-bottom-style: solid;
}

.box {
    display: flex;
    align-items: baseline;
    margin-top: 25px;
}

.box p {
    width: 100%;
}

.box i {
    font-size: 0.8rem;
    color: rgba(19, 59, 107, 0.8);
}

.skill__box {
    color: black;
    font-size: 1rem;
    width: 90px;
    height: 45px;
    margin: 15px;
    border-style: solid;
    border-color: rgba(19, 59, 107, 0.8);
    border-width: 2px;
    border-radius: 22.5px;
}

.recommendation__box{
    text-align: left;
    margin-bottom: 30px;
}



.strong{
    font-weight: bold;
}

.italic{
    font-style: italic;
    font-size: 1.2rem;
}